<template>
  <div class="container">
    <h1>Pokédex</h1>
    <BuscaPokemon :apiUrl="apiUrl" @setPokemonUrl="setPokemonUrl" />
    <ListaPokemon
      :imageUrl="imageUrl"
      :apiUrl="apiUrl"
      @setPokemonUrl="setPokemonUrl"
    />
    <DescricaoPokemon
      v-if="showDetail"
      :pokemonUrl="pokemonUrl"
      :imageUrl="imageUrl"
      @closeDetail="closeDetail"
    />
  </div>
</template>

<script>
import BuscaPokemon from "./BuscaPokemon";
import ListaPokemon from "./ListaPokemon";
import DescricaoPokemon from "./DescricaoPokemon";

export default {
  name: "Pokemon",
  components: {
    BuscaPokemon,
    ListaPokemon,
    DescricaoPokemon
  },
  data: () => {
    return {
      imageUrl:
        "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/",
      apiUrl: "https://pokeapi.co/api/v2/pokemon/",
      pokemonUrl: "",
      showDetail: false
    };
  },
  methods: {
    setPokemonUrl(url) {
      this.pokemonUrl = url;
      this.showDetail = true;
    },
    closeDetail() {
      this.pokemonUrl = "";
      this.showDetail = false;
    }
  }
};
</script>

<style>
@import url("https://fonts.googleapis.com/css?family=Acme");
.container {
  display: flex;
  padding: 10px 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: calc(100% - 20px);
  min-height: calc(100vh - 20px);
  background: radial-gradient(#156f99, #0a2e50);
  font-family: "Acme", arial;
  font-size: 1rem;
  font-weight: normal;
}
h1 {
  color: #efefef;
}
</style>
